 
  .chat_inner {  
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 50%;  
    height:90%;
    top:10%;    
    left:25%;
    background: red;  
  }

  .chat__input{
    position: relative;
    width: 80%;
    top:75%;
    left:10%;
    height: 30px; 
    border: none; 
    border-radius: 10px;
    
  }
  .chat__button{
    position: relative;
    width: 10%;
    top:71.5%;
    left:80%;
    height: 30px; 
    border: none; 
    border-radius: 10px;
    background-color: lawngreen;
  }

  .chat__messageWrapper{
  /* display: flex; */
}

.chat__messageIncome{
  color: blue;
  align-self: flex-start;
  float:left;
}

.chat__messageOutcome{
  color:green;
  align-self: flex-end;
  float:right;
}