 *{
   box-sizing: border-box;
 }
  .chat_inner {  
    position: absolute;
    display: flex;
    flex-direction: column;  
    height:90vh;
    top:10%;     
    left:25%;
    background: red;
    width: 50%;
}

  .chat__inputWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:10px;
    margin-bottom: 10px;
    margin-left: 10%;
  }  
  .chat__input{
    width: 80%;
    height: 30px; 
    border: none; 
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
  }
  .chat__button{
    position: relative;
    left: -10%;
    width: 10%;
    height: 30px; 
    border: none; 
    border-radius: 10px;
    background-color: lawngreen;
    text-decoration: none;
    cursor: pointer;
  }

  .chat__messageWrapper{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
    
  }

.chat__messageIncome, .chat__messageOutcome{
  margin:15px;
  width: 15vw;
  background-color: blue;
  color: white;
  border-radius: 10px;
  padding: 5px;
  word-wrap: break-word;
  max-width: 50%;

}

.chat__messageOutcome{
  align-self: flex-end;
  background-color: green;
}