.yourideas__wrapper{
    background-color: #5AB9EA;
    width: 25%;
    height: 90vh;
    display: flex;
    flex-direction: column;
}
.yourIdeas__buttons{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px 0px
}
.yourIdeas__header{
    text-align: center;
}

.yourideas__listWrapper{
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;

}
.yourIdeas__listItem{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}