.yourideas__wrapper{
    background-color: #5AB9EA;
    width: 25%;
    height: 400px;
}
.yourIdeas__buttons{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px 0px
}
.yourIdeas__header{
    text-align: center;
}