.main__wrapper{
    background-color: #5680E9;
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
}
.main__header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px 30px 10px;
    background-color: chartreuse;
    flex:1;
}
.main__content{
    display: flex;
    background-color: brown;
    flex:8;
    flex-direction: column;
}
.main__footer{
    display: flex;
    background-color: chartreuse;
    flex:1;
    justify-content: space-between;
    padding: 10px 25% 10px
}
.main__contentPhotoButton{
    border: 3px white solid;
    border-radius: 25px;
    margin: auto;
    margin-bottom: 20px;
    padding:2px 15px 2px;
}
