.menu__wrapper{
    background-color: #5AB9EA;
    width: 25vw;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.menu__header{
    text-align: center;
}

.menu__ideasList{
    margin-top: 10px;
}

.menu__ideaItem{
    text-decoration: none; 
    padding: 10px 25px 10px;
    overflow-wrap: break-word;
    font-weight: 400;
}
@media all and (max-width:400px){
    .menu__wrapper{
    font-size: .8em;
}}