*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App{
  height: 100%;
  width: 100%;
}

.app__wrapper{
  display: flex;
  height: 100%;
  width: 100%;
}

.app__header{
  background-color: #84CEEB;
  height: 10vh;
  width:100vw;
  position: relative;
  display: flex; 
  align-items: center;
  justify-content: space-between;
}
.app__headerRight{
  background-color: #84CEEB;
  position: relative;
  right:2%;
  text-align: end;
  
}
.app_headerTitle{
  width: 100%;
  font-size: 2.5em;
  text-align: center;
  position: relative;
}



@media all and (max-width:420px){
  .app_headerTitle{
  font-size: 1.5em;
}}

@media all and (max-width:420px){
  .MuiButton-label{
  font-size: 1em
}}