*{
  box-sizing: border-box;
}
.App{
  height: 100%;
  width: 100%;
}

.app__wrapper{
  display: flex;
}

.menu__wrapper{
  
}
.main__wrapper{

}
.yourideas__wrapper{
  
}

.app__header{
  background-color: #84CEEB;
  text-align: center;
  height: 20%;
}
.app__headerRight{
  background-color: #84CEEB;
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}
.app__headerRegister{
  margin: 15px;

}
.app_headerTitle{
  margin-top:0;
  align-self: center; 
}
